@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.cell{
    height: 100px;
    width: 100px;
    margin: 2px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    border: 2px solid grey;
    border-radius: 5px;
}

.row{
    justify-content: center;
    // border: 1px solid grey;
}


